@model LogoutViewModel

<div >
    <div >
        <h1>Logout</h1>
        <p>Would you like to logut of IdentityServer?</p>
    </div>

    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
        <div >
            <button >Yes</button>
        </div>
    </form>
</div>
