@model IEnumerable<TB.DanceDance.Data.Models.VideoInformation>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var video in Model)
    {
        <tr>
            <td>@video.Id </td>
            <td><a asp-page="./Edit"></a> @video.Name</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@video.Id">Edit</a> |
                <button type="submit" asp-page-handler="delete"
                        asp-route-id="@video.Id">
                    delete
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>