@page
    @using TB.DanceDance.Data.Models
    @model TB.DanceDance.Pages.WestCoastSwingModel
    @{
    }

    <p>Tomek testuje.</p>

    <div>
        @(await Component.InvokeAsync("VideoList", new { danceType = DanceType.WestCoastSwing}))
    </div>