@model string

<div >
    <div >
        <h1>User Code</h1>
        <p>Please enter the code displayed on your device.</p>
    </div>

    <partial name="_ValidationSummary" />

    <div >
        <div >
            <form asp-action="UserCodeCapture">
                <div >
                    <label for="userCode">User Code:</label>
                    <input  for="userCode" name="userCode" autofocus />
                </div>

                <button  name="button">Submit</button>
            </form>
        </div>
    </div>
</div>
