@using IdentityServer4.Extensions

@{
    string name = null;
if (!true.Equals(ViewData["signed-out"]))
{
    name = Context.User?.GetDisplayName();
}
}

<div >
    <nav >

        <a href="~/" >
            TB Identity
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
    {
        <ul >
                <li >
                    <a href="#"  data-toggle="dropdown">@name <b ></b></a>
                    
                    <div >
                        <a  asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
              </li>
            </ul>
    }
    
    </nav>
</div>
