name: PR-Gated

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

jobs:
  gated-build-api:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['9.0.x']

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Run tests
        run: dotnet test --configuration Release
        working-directory: ./src/tests/TB.DanceDance.Tests
        
  gated-frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install frontend dependencies
        working-directory: ./src/frontend
        run: npm install
        
      - name: Build frontend project
        working-directory: ./src/frontend
        run: npm run build
        
        
  gated-build-mobile:
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: ['9.0.x']

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
          
      - name: Install Workflows
        run: dotnet workload install maui
        working-directory: ./src/TB.DanceDance.Mobile

      - name: Restore mobile dependencies (Android)
        run: dotnet restore
        working-directory: ./src/TB.DanceDance.Mobile

      - name: Build MAUI Android
        run: dotnet build ./src/TB.DanceDance.Mobile/ -c Release -f net9.0-android --no-restore 

  run-mobile-tests:
    runs-on: ubuntu-latest
    needs: gated-build-mobile
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK 9.0.x
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'
          
      - name: Pull required Docker images (Azurite and Postgres)
        run: |
          docker pull mcr.microsoft.com/azure-storage/azurite:latest
          docker pull postgres
          
      - name: Run Mobile Test Project
        run: dotnet test ./src/tests/TB.DanceDance.Mobile.Tests/TB.DanceDance.Mobile.Tests.csproj
