<p><strong>Polityka prywatnoœci dla aplikacji Dance Dance</strong></p>
<p><strong>Ostatnia aktualizacja: Ostatnia aktualizacja: 01.01.2024</strong></p>

<strong>Wprowadzenie</strong>

<p>Dance Dance App (dalej nazywane &quot;Aplikacj¹&quot;) zobowi¹zuje siê do ochrony prywatnoœci u¿ytkowników. Niniejsza Polityka Prywatnoœci okreœla, w jaki sposób gromadzamy, u¿ywamy, ujawniamy i chronimy informacje osobiste. Korzystaj¹c z Aplikacji, zgadzasz siê na postanowienia tej Polityki Prywatnoœci.</p>

<strong>Gromadzenie i Rodzaje Danych Osobowych</strong>

<p>Aplikacja mo¿e gromadziæ nastêpuj¹ce rodzaje danych osobowych:</p>
<ul>
    <li>Dane identyfikacyjne (np. adres e-mail)</li>
    <li>
        <p>Dane logowania (np. adres IP, informacje o przegl¹darce)</p>
    </li>
    <li>
        <p><strong>Cel Gromadzenia Danych</strong></p>
    </li>
</ul>
<p>Dane osobowe s¹ gromadzone w celu:</p>
<ul>
    <li>Dostarczania i ulepszania us³ug Aplikacji</li>
    <li>Personalizowania treœci i doœwiadczenia u¿ytkownika</li>
    <li>
        <p>Zarz¹dzania kontem u¿ytkownika</p>
    </li>
    <li>
        <p><strong>Podstawa Prawna</strong></p>
    </li>
</ul>
<p>Przetwarzanie danych identyfikuj¹cych jest niezbêdne do wykonania œwiadczenia us³ugi oraz opiera siê na zgodzie u¿ytkownika.</p>

<strong>Administrator Danych osobowych</strong>

<p>Administratorem danych jest osoba prywatna Tomasz B¹k - Kontakt: tomaszbakk@protonmail.com</p>

<strong>Okres przechowywania danych</strong>

<p>Dane s¹ przechowywane od momentu zalogowania siê do aplikacji do momentu zg³oszenia ich usuniêcia. Administrator ma czas do dwóch tygodni na usuniêcie danych z systemu po otrzymaniu zg³oszenia.</p>

<strong>Ujawnianie Danych Osobowych</strong>

<p>Dane osobowe mog¹ byæ udostêpniane tylko w zakresie niezbêdnym do realizacji celów opisanych w punkcie 3. Mog¹ byæ udostêpniane podmiotom trzecim zgodnie z obowi¹zuj¹cymi przepisami prawa.</p>

<strong>Ochrona Danych Osobowych</strong>

<p>Aplikacja podejmuje wszelkie niezbêdne œrodki bezpieczeñstwa, aby chroniæ dane osobowe przed nieuprawnionym dostêpem, utrat¹ lub zmian¹.</p>

<strong>Prawa U¿ytkowników</strong>

<p>U¿ytkownicy maj¹ prawo dostêpu do swoich danych osobowych, ich poprawiania, usuwania lub ograniczania przetwarzania. Maj¹ tak¿e prawo do wniesienia skargi do organu nadzorczego.</p>

<strong>Cookies i Technologie Œledzenia</strong>

<p>Aplikacja u¿ywa plików cookies w celu autoryzacji u¿ytkownika i œwiadczenia us³ug.</p>

<strong>Zmiany w Polityce Prywatnoœci</strong>

<p>Polityka Prywatnoœci mo¿e byæ okresowo aktualizowana. W przypadku istotnych zmian, u¿ytkownicy zostan¹ powiadomieni.</p>

<strong>Lokalizacja</strong>

<p>Dane s¹ przechowywane na serwerach zlokalizowanych w europie. </p>

<strong>Kontakt</strong>

<p>W przypadku pytañ dotycz¹cych Polityki Prywatnoœci, prosimy o kontakt pod adresem tomaszbakk@protonmail.com.</p>
